@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  overflow-x: hidden;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, white 99.99%, #eef4f9),
    linear-gradient(to bottom, white 99.99%, #eef4f9),
    linear-gradient(to right, white 99.99%, #eef4f9),
    linear-gradient(to bottom, white 99.99%, #eef4f9);
  background-size: 100% 8px, 8px 100%, 100% 8px, 8px 100%;
  background-repeat: no-repeat;
  background-position: -48px 0px, 44px -48px, 48px 44px, 0px 44px;
}

.swiper {
  overflow: visible !important;
}

:root {
  --font-work-sans: "Work Sans", sans-serif;
}

body {
  font-family: var(--font-work-sans);
}
